.card:not(.active) .text_card {
  display: none;
}

/* Ajoutez cette classe pour afficher le contenu de la carte */
.card.active .text_card {
  display: block;
}

.cards {
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.card img {
  width: 200px;
  height: 200px; /* Add height to make the container square */
  opacity: 70%;
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
}

.text_card {
  padding: 15px;

}

.text_card ul {
  list-style-type: none;
  padding: 0px, 0px, 0px, 0px;
}

.card h4 {
  size: 20px;
  color: #e9c46a;
}
.card p {
  opacity: 0.5;
}

.card {
  width: 200px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px solid rgb(230,230,230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

@media(max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}
